.coloborador {
    width: 280px;
    margin-bottom: 24px;
    position: relative;
}

.coloborador .encabezado {
    background-color: #f0f0f0;
    border-radius: 10px 10px 0px 0px;
}

.coloborador img {
    width: 150px;
    border-radius: 50%;
    position: relative;
    bottom: -50px;
}

.coloborador .info {
    background-color: #fff;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
    border-radius: 0px 0px 10px 10px;
    padding-top: 90px;
    padding-bottom: 40px;
    min-height: 100px;
    font-family: 'Montserrat', sans-serif;
}

.coloborador .info h4 {
    color: #6278F7;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    margin-bottom: 8px;
}

.coloborador .info h5 {
    font-size: 18px;
    line-height: 22px;
    color: #212121;
    padding: 0 24px;
    font-weight: 400;
    margin: 0;
}

.eliminar {
    position: absolute;
    font-size: 48px;
    right: -23px;
    top: -23px;
    cursor: pointer;
}